div#div1{
    background-color: red;
    height: 200px;
    width: 600px;
    top: 55% ;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);

}

section {
    font: normal 14pt Arial;
    text-align: center;
    color: white;
}

div p3{
    top: -10% ;
    right: 14%;
    position: absolute;
    transform: translate(50%, -50%);
    color: yellow;
    text-align: end;
}

div p4{
    top: 110% ;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
    color: yellow;
    text-align: center;
}

body{
    background-color: black;
}

